* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0.8rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 12px;
  padding: 0.5rem 1rem;
}

.item {
  margin-top: 1rem;
  width: 18.5rem;
  border-radius: 10px;
}
.dining {
  color: #f2994a;
  width: 13px;
  height: 13px;
}

.gray {
  color: #ada8a8;
}

.servings,
.duration {
  display: flex;
  align-items: center;
}

.yields,
.time {
  margin-left: 1rem;
  font-size: 12px;
  margin-top: 1rem;
}

.duration-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ingredients-container {
  margin: 2rem 0;
}

.step-name {
  font-weight: 600;
  font-size: 1.4rem;
  color: #494747;
}

.item-name {
  font-style: italic;
  margin: 1rem 0 0.5rem 0;
}

.steps {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.step-desc {
  margin-left: 1rem;
  font-size: 12px;
}

.number {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #f2994a;
}

.footer {
  width: 100%;
  font-size: 14px;
  color: #828282;
  text-align: center;
}

.link {
  text-decoration: none;
  color: blueviolet;
}

@media only screen and (min-width: 375px) {
  .item {
    width: 22rem;
  }
}

@media only screen and (min-width: 425px) {
  .item {
    width: 25rem;
  }
}

@media only screen and (min-width: 639px) {
  .item {
    width: 38rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .item {
    width: 46rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 2rem 10rem;
  }
  .description {
    width: 550px;
  }
  .item {
    width: 50rem;
  }
  .main-container {
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
  }
  .left {
    flex: 9;
  }
  .right {
    flex: 3;
    align-items: center;
    padding: 2rem;
    margin-left: 8rem;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 300px;
  }
  .duration-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
}
