body{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
    color: #fff;
    height: 100vh;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }